<div class="container">
    <div class="inside">
        <img src="/assets/images/badwords.png" alt="">
        <p>Angular list of prohibited words</p>
        <input type="button" value="details" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active" class="details">
    </div>
    <div class="inside">
        <img src="/assets/images/tasklist.png" alt="">
        <p>Angular task list</p>
        <input type="button" value="details" [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active" class="details">
        
    </div>
    <div class="inside">
        <img src="/assets/images/userlist.png" alt="">
        <p>Angular users list</p>
        <input type="button" value="details" [routerLink]="[ '/works/userlist' ]" routerLinkActive="active" class="details">
    </div>
</div>
